# Ignore  publication files or directories
Publicatons/
DTN/paper/

# Jupyter checkpoints
.ipynb_checkpoints/

# ns-3 source (too large for GitHub)

# Ignore compiled manuscript PDFs
/DTN/paper/els.pdf
/DTN/paper/anonymized_manuscript/anonymized_manuscript.pdf
/DTN/paper/Anonymized_manuscript/anonymized_manuscript.pdf
/DTN/paper/manuscript/manuscript.pdf
/DTN/paper/cover_letter.pdf
/DTN/paper/title_page.pdf

# Ignore LaTeX auxiliary files
*.aux
*.abs
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

