# Ignore  publication files or directories
Publicatons/
DTN/paper/
DTN/papers/
paper/
papers/
DTN/scratch/

# Jupyter checkpoints
.ipynb_checkpoints/

# ns-3 source (too large for GitHub)

# Ignore compiled manuscript PDFs
/DTN/paper/els.pdf
/DTN/paper/anonymized_manuscript/anonymized_manuscript.pdf
/DTN/paper/Anonymized_manuscript/anonymized_manuscript.pdf
/DTN/paper/manuscript/manuscript.pdf
/DTN/paper/cover_letter.pdf
/DTN/paper/title_page.pdf

# Ignore LaTeX auxiliary files
*.aux
*.abs
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Python caching and environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Local simulation outputs and intermediate analysis plots
DTN/results/

# Local archives and backups
*.zip
*.tar.gz
*.gz
*.tgz
*.rar
*.7z

# Local temporary/scratch folders
/scratch/
/ns-3.47/DS-SpiceMobilityModel/JUSC.pdf
/ns-3.47/DS-SpiceMobilityModel/Publishing_Agreement.pdf
/ns-3.47/DS-SpiceMobilityModel/cover_letter.pdf
/ns-3.47/DS-SpiceMobilityModel/production_Manuscript_file*/
/ns-3.47/DS-SpiceMobilityModel/New/


