# Ignore  publication files or directories
Publicatons/

# Jupyter checkpoints
.ipynb_checkpoints/

# ns-3 source (too large for GitHub)

# Ignore compiled manuscript PDFs
/DTN/paper/els.pdf
/DTN/paper/Anonymized/anonymized_manuscript.pdf
